body{
    margin:0;
}

.partie1{
    width: 100%;
    height: 700px;
    background-image: url(image/home-desktop.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    padding-top:  20px;
    color: white;
    font-size: 40px;
}

.description{  
    text-align: center;  
}

.titre{
     text-align: center; 
     margin-bottom: 70px;
}

i{
color: grey;
}


.soustitre{
  text-align: center;  
}

.descri_part1{
    height: 300px;
}

.reseaux_sociaux{
text-align: center;   
}

figure{
display: inline-block;
width:33%;
margin: 0;
}

/*figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .7s ease-in-out;
	transition: .7s ease-in-out;
}
figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}*/

figure img{
  width: 100%;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale3d(0);
}
figure img:hover {
  opacity: 0.5;
  -webkit-transform: scale3d(1.1,1.1,1);
   transform: scale3d(1.1,1.1,1);
}


